/* * {
  border: 1px solid black;
} */

html{
  height: 100vh;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 35px;
  padding-bottom: 7%;
  color: #05380F;
}

h2 {
  font-size: 25px;
  color: #FFFFF0;
  text-shadow: 2px 2px #000000;
}

img {
  padding: 25px;
}

.player-column {
  display: flex;
  justify-content: center;
  width: 25%;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.water {
  height: 22%;
}

.water-player{
  background: linear-gradient(#C3D1E9, #6A8CC8, #426BB3);
}

.fire {
  height: 24%;
}

.fire-player {
  background: linear-gradient(#F6E8A2, #F2882C, #9B1C2F);
}

.center-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background: #FFFFF0;
  border-right: 2px solid #05380F;
  border-left: 2px solid #05380F;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: 60%;
}

.game-board-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 33%;
  text-align: center;
  font-size: 70px;
  background: #FFFEEE
}
/*
.game-board-box:hover {
  background: linear-gradient(to right, #C3D1E9, #6A8CC8, #F2882C, #9B1C2F);
  border-radius: 10px;
} */

.column {
  border-right: 5px solid #05380F;
}

.row {
  border-bottom: 5px solid #05380F;
}

.disable-click {
  pointer-events: none;
}
